<h1 class='list-title'><%= "#{@user.username}'s To-Do list."%></h1>
<div class='row'>
  <div class='col-md-8'>
    <div class='new-item'>
      <%= render partial: 'items/form', locals: {user: @user} %>
    </div>
  </div>
  <div id="items" class='col-md-8'>
    <div class='js-items'>
      <%= render @items %>
    </div>
  </div>
</div>
