<div id=<%="item-#{item.id}"%>>
  <div class="media">
    <div class="media-body">
      <p class='item-name'><%= item.name %> | <%= link_to "Complete", [current_user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true  %> </p>
      <small>
        <p class="item-creation-time">Item was created:
        <%= time_ago_in_words(item.created_at) %>
        </p>
      </small>
    </div>
  </div>
</div>
